<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Invoice</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- styles -->
    <%= stylesheet_link_tag wicked_pdf_asset_base64("stripe_invoice_pdf_engine/application") %>
  </head>

  <body class="layout">
    <%= yield %>
  </body>
</html>
